#container {
  text-align: center;

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px #8c8c8c;
  height: 300px;
  width: 30%;
  top: 50%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.foto {
  background-image: url(./adr.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: (50%, 50%);
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
@media (min-width: 360px) and (max-width: 480px){
  #container{
    width: 90%;
  }
}
@media (min-width: 481px) and (max-width: 768px){
  #container{
    width: 90%;
  }
}


